.container{
    padding: 150px 50px 50px 50px;
    display: flex;
    justify-content: space-around;
}


.right{
    padding: 0px 20px;
}

.wrapper{
    background-color: #273137;
    color: white;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 250px;
    border-radius: 20px;
}

.buu{
    background-color: white;
    height: 30px;
    font-size: 20px;
    border-radius: 15px;
    width: 150px;
    margin: 0 auto;
}

.left{
    width: 70%;
}

.table{
    width: 100%;
}

.name{
    text-align: center;
}

.tr{
    border: solid #93e3a9 1px;
}

.table_heading{
    background-color: #93e3a9;
    color: white;
    margin: 5px;
}

.table_data{
    border-color: #93e3a9;
    border-style: solid;
    border-width: 2px;
    text-align: center;

}


.image{
    border-radius: 20px;
}