.container{
    display: flex;
    justify-content: space-around;
    padding: 5px 50px;
    color: #273137;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 10px #273137;
    display: flex;
    justify-content: space-between;
}

.links{
    text-decoration: none;
    color: #273137;
}

.navbar{
    display: flex;
    width: 70%;
    justify-content: flex-end;
}

.image_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item{
    padding: 5px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.text{
    font-weight: 700;
    font-size: 20px;
}

.list{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

.listItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #273137;
    text-decoration: none;
    margin: 25px;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 2px 2px 5px #273137;;
}


.counter{
    position: absolute;
    top: -2px;
    left: 50px;
    font-weight: 600;
    color: white;
    background-color: #93e3a9;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #93e3a9;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
}

#cartButton{
    padding-top: 10px;
    color: #273137;
}

.cart_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}