.container{
    background-color: #fe5857;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: white;
    position: fixed;
    width: 100%;
}


.item:nth-child(2){
    flex: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item:first-child{
    display: flex;
}

.item{
    padding: 5px 20px;
    position: relative;
}

.callButton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}

.texts{

}

.text{
    font-weight: 700;
    font-size: 20px;
}

.list{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.listItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    box-shadow: #e02826 2px 2px 10px;
}


.counter{
    position: absolute;
    top: -2px;
    left: 50px;
    color: #fe5857;
    font-weight: 600;
    background-color: white;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
}

#cartButton{
    padding-top: 10px;
}